.shimmer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 4px;
}

.wrapper-shimmer {
    width: 240px;
    height: 250px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    background-color: gainsboro;
    /* box-shadow: -1px 5px 10px 5px rgba(58, 58, 58, 0.2); */
}


/* shimmer for banner */
.Banner_shimmer{
    display: flex;
    gap: 1rem;
}
.banner_shimmer {
    width: 100px;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    border-radius: 200px;
    background-color: rgb(229, 220, 220);

}

.banner_shimmer:hover {
    box-shadow: -1px 4px -12px 14px rgba(101, 100, 100, 0.2);
    border-radius: 150px;
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.banner_shimmer>.imag {
    padding: 5%;
}