.payment_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    background: linear-gradient(#eadff4 , #daccf3);
    padding: 2%;
}
.payment_img,
.payment_info {
    width: 50%;
}
.payment_img >img{
    width: 30%;
}
.payment_info >h4{
    text-align: center;
    font-size: 200%;
    font-weight: 400;
}