.footer_wrapper {
    background-color: rgb(2, 2, 10);
    color: white;

}

.footer_wrapper>.footer_data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
}

ul>li {
    list-style-type: none;
}

.items_data>h3 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}