* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about_us {
    margin-top: 0;
    z-index: -999;
    height: 100vh;
    width: 100%;
    position: relative;
    /* Added position relative to the container */
}

.about_us .image {
    z-index: 1;
    text-align: left;
    width: 100%;
    padding-left: 2rem;
    /* Ensures the text is above the background image */
}

.about_us h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: red;
    /* opacity: 1; */
    text-align: left;
}

button {
    background-color: #7743DB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}