.wrapper-work {
    margin: auto;
    text-align: center;
    margin-top: 2%;
}

.wrapper-work>h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #7743DB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper-work>p {
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-wrapper>.working_cards {
    background-color: #ffffffff;
    margin: 2%;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    padding: 2%;
    width: 240px;
    box-shadow: 1px 2px 10px 2px #9a9a9a;
}

.container-wrapper>.working_cards>img {
    width: 80%;
    margin: auto;
}

.container-wrapper>.working_cards>button {
    margin: auto;
    /* padding: 1rem; */
    background-color: #7743DB;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    width: 7rem;
    height: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}